---
- name: Install Atom editor
  homebrew_cask:
    name:   atom
    state:  present

- name: Install packages
  shell:  apm install {{item.package_name}}
  args:
    creates: ~/.atom/packages/{{item.package_name}}
  with_items: "{{atom_editor.packages}}"
